@import "normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(49, 45, 45);
  color: white;
  font-family: Courier New, monospace;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  margin-top: 2rem;
  text-align: center;
}

#app {
  margin: 0 auto;
}

.fail {
  margin: 1rem auto 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn {
  margin: 15px auto 0 auto;
  background-color: rgb(190, 117, 7);
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-weight: bold;
}

.wrapper {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  &__img {
    text-align: center;
    
    &_photo{
      height: 300px;
      width: 300px;
      object-fit: cover;
    }
  }
}