* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(49, 45, 45);
  color: white;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  margin-top: 2rem;
  text-align: center;
  font-family: Courier New, monospace;
}

#app {
  margin: 0 auto;
}

.wrapper {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  &__img {
    text-align: center;
    height: 300px;
    width: 300px;
  }

  &__btn {
    margin: 15px auto 0 auto;
    background-color: orange;
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
  }
}